.inputfile{
    	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.input-file-label {
    border: 1px solid #0071BB;
    background-color: #cce8fa48;
    color: #0071BB;
    border-radius: 10px;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}




.selected-file{
    color: #f42a41;
}