.aboutBanner{
        height: 500px;
        width: 100%;
        background-image: url('../../../Images//about-us-banner.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
}