@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:wght@700&display=swap');

/* Common CSS */
.color-a{
  color: #0071BB;
}

.color-b{
  color: #f42a41; 
}
.color-white{
  color: white;
}

/* This menu is used in Navbar and footer */
/* -------------------------------------- */
.menu-item{
 text-decoration: none;
 margin: auto 5px;
 display: inline-block;
 position: relative;
}

.menu-item:hover{
    color: rgb(255 255 255);
}

.menu-item:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255 255 255);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.menu-item:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* -------------------------------------- */


/* List style */
.list-styles-none li{
    list-style: none;
}


/* Buttons styles */
.btn-a{
  background-color: #0071BB;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}

.btn-a:hover{
  background-color: #028de9;
  color: white;
}

.btn-b{
  background-color: #f42a41;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}

.btn-b:hover{
    background-color: #bb2839;
    color: white;
}

.wide-btn-fill{
  background-color: #0071BB;
  color: white;
  outline: none;
  width: 100%;
  display: inline-block;
  padding: 10px 0px;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
  outline: none;
}

.wide-btn-fill:hover{
  background-color: #024a7a;
  color: white;
}


.text-justify{
  text-align: justify;
}


.link{
  color: #0071BB;
  text-decoration: none;
}

.link-b{
  color: #f42a41;
  text-decoration: none;
}


/* Font size */
.font-size-a{
  font-size: 1.1rem;
}


/* List style */
.list-style-a li{ 
  list-style:disc;
}




.detail-image-container{
  padding: 10px;
  border: 1px solid #0071BB;
  height: 350px;
}

.thumbnails{
  height: 100%;
  width: 100%;
}

.swiper-item-image{
  height: 25vh !important;
}




.description-container{
  text-align: justify;
  height: 250px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px lightgrey;
  padding: 10px;
  overflow: auto;
}


.higlight-style-bg-a{
  background-color: #f42a41;
  border-radius: 0px 20px 20px 0px;
  padding: 5px 50px 5px 10px;
  color: white;
  display: inline-block;
}

.page-heading{
  font-family: 'Proza Libre', sans-serif;
  color: #0071BB;
  font-size: 3rem;
  text-align: center;
  margin: 40px 0px;
}

.sub-heading{
  font-family: 'Proza Libre', sans-serif;
  color: #0071BB;
  font-size: 2rem;
}




/* Card related styles */
.custom-card{
  height: 400px;
  margin: 10px;
  border-radius: 0px 0px 10px 10px;
  transition: all 0.3s;
  position: relative;
}

.custom-card:hover{
  box-shadow: 0px 0px 5px 2px lightgrey;
}

.card-name{
  color: #0071BB;
  font-size: 1.3rem;
  font-weight: 600;
}

.card-text{
  padding: 10px;
}

.card-thumbnail{
  height: 50%;
  width: 100%;
  position: relative;
}

.card-img{
  height: 100%;
  width: 100%;
}

.card-price{
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 5px 10px;
  background-color: #e6d600;
  font-weight: 600;
}

.custom-card-footer{
  position: absolute;
  bottom: 20px;
  left: 10px;
  width: 100%;
}







/* Scrollbar style */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgb(214, 212, 212);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #c0e3fa;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8dcdf8; 
}






@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
